$main-ftw:700;
$main-fts:18px;

$main-nav-pd: 1.5rem 5rem;
$main-pd: 1rem 20rem;
$main-form-pd: 1rem 10rem;

$main-mg: 5rem 1rem 1rem; 
$main-pd-footer: 1rem 30rem;
$main-last-p: 3rem 0.1rem 0.1rem ;